#logo{
    padding-top: 200px;
    text-align: center;
    background-color:white;
    width: 100%;
    
}
#search_box{
    text-align: center;


}
input.search_button{
    background-color: #eeeeee;
    padding: 10px;
    border: 2px;
    border-color: black;
    
    
}
div.search{
   padding: 40px;
   text-align: center;
     
    
}
#text_box{
    width: 100%;
    padding: 2%;
    
}
#style_box{
    background-color: white;
    width: 30%; 
    border-color: #dddddd;
    border-radius: 18px;
    -moz-border-radius: 5px;
    border-style: solid;
    height: 45px;
    outline: gray;
}

#links{
    text-align: right;
    font-size:large;
   
}   
#search{
    padding: 2%;
}
