#logo{              /*configuration to image logo*/
    padding-top: 200px;
    text-align: center;
    background-color:white;
    width: 100%;
    
}
#search_box{         /*center text box*/
    text-align: center;


}
input.search_button{         /*configuration search button*/
    background-color: #eeeeee;
    padding: 10px;
    border: 2px;
    border-color: black;
    
    
}
div.search{      /*center button*/
   padding: 40px;
   text-align: center;
     
    
}
#text_box{       /*configuration size of div contain text box*/
    width: 100%;
    padding: 2%;
    
}
#style_box{      /*configuration text box*/
    background-color: white;
    width: 30%; 
    border-color: #dddddd;
    border-radius: 18px;
    -moz-border-radius: 5px;
    border-style: solid;
    height: 45px;
    outline: gray;
}

#links{      /*links configuration , of other search pages*/
    text-align: right;
    font-size:large;
   
}   
#search{
    padding: 2%;
}
